@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Cinzel Decorative', cursive;
}
body{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1.heading{
	margin: 20px 0px 0px 0px;
	font-size: 50px;
}
h1.results{
	margin: 0px 0px 15px 0px;
}
.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
}

.shooter {
	background-color: green;
}

.laser {
	background-color: orange;
}

.boom {
	background-color: red;
}